<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{::title}, ~{})}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section id="content">
    <h1>Welcome to Home Page</h1>
    <h2>KeepInTouch</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at dapibus nulla, vitae venenatis quam. Nunc
        ut turpis ac urna tempus semper. Maecenas bibendum justo quis odio commodo, tempus euismod enim rutrum. Donec
        venenatis lacus ante, nec dapibus mi molestie in. Fusce enim arcu, iaculis et enim ut, maximus aliquet ante.
        Nullam sit amet est non arcu consequat luctus. Suspendisse ut neque nec neque maximus ullamcorper ac et dui.</p>
</section>
</body>
</html>