<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{::title}, ~{})}">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services Page</h1>
        <h2>Services Offered By KIT</h2>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Morbi vehicula mauris a nisl pellentesque faucibus.</li>
            <li>Quisque tristique felis nec lacinia vestibulum.</li>
        </ul>
    </section>
</body>
</html>